
<div class="container">
    <div class="lo">
      Maa Computer Education
    </div>
    <div class="ro">
    
      <a href="tel:9229967996" style="text-decoration: none; font-size: 1.5vmax;"  >
        <ion-icon name="call-outline" style="color: black;">
        </ion-icon>
      </a>
      <a href="/profile"style="text-decoration: none; font-size: 1.5vmax;"><ion-icon style="color: black;" name="person-circle-outline"></ion-icon></a>
    </div>
  </div>