<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
  </head>
  <body>
    <div id="back">
      <img src="../images/back.jpg" alt="">
      <div id="main">
        <div id="body">
          lol
          <span id="logo-body">
            <img
              alt=""
              src="../images/logo2.jpeg"
              style="width: 340px; height: 100px"
            />
          </span>
          <span class="title"> Log in </span>
          <form id="log" action="/login" method="post">
            <input type="text" placeholder="institute code" name="institute">
            <input type="text" placeholder="username" name="username">
            <input type="password" placeholder="password" name="password">
            <button type="submit">Log In</button>
          </form>
          <a href="/signup"><p id="CNA">Create New Account</p></a>
        </div>
      </div>
    </div>
  </body>
</html>
